.nav {
  width: 100vw;
  height: 90px;
  background-color: var(--pumpkin);
  display: flex;
  justify-content: center;
}

.nav-center {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
}

.logo {
  width: 110px;
}
