/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  --background-jasmine: #ffe785;
  --black-color: #333333;
  --pumpkin: #f96900;
  --dark-spring-green: #1c7c54;
  --letter-spacing: 1px;
  --white: #ffffff;
}

body {
  background-color: var(--background-jasmine);
  font-family: 'Poppins', sans-serif;
  letter-spacing: var(--letter-spacing);
  color: var(--black-color);
}
